In [7]:
import numpy as np
import csv
import pandas as pd

In [8]:
df = pd.read_csv('valid/llt.asc', sep='$', names=['PT', 'Label', 'LLT', 'Unnamed 3', 'Unnamed 4', 'Unnamed 5', 'Unnamed 6', 'Unnamed 7', 'Unnamed 8', 'IDK', 'Unnamed 10', 'Unnamed 11'])
df

,PT,Label,LLT,Unnamed 3,Unnamed 4,Unnamed 5,Unnamed 6,Unnamed 7,Unnamed 8,IDK,Unnamed 10,Unnamed 11
0,10000001,Ventilation pneumonitis,10001890,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,10000002,11-beta-hydroxylase deficiency,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,10000003,11-oxysteroid activity incr,10033315,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,10000004,11-oxysteroid activity increased,10033315,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,10000005,17 ketosteroids urine,10000005,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
79502,10081796,Gallbladder removal,10008611,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79503,10081797,Herpetic keratouveitis,10062004,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79504,10081798,Muscular back pain,10003988,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79505,10081799,Computerized tomogram spine,10081777,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79506,10081800,CNS vasculitis,10081778,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [9]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

             PT                             Label       LLT IDK
0      10000001           Ventilation pneumonitis  10001890   N
1      10000002    11-beta-hydroxylase deficiency  10000002   Y
2      10000003       11-oxysteroid activity incr  10033315   N
3      10000004  11-oxysteroid activity increased  10033315   Y
4      10000005             17 ketosteroids urine  10000005   Y
...         ...                               ...       ...  ..
79502  10081796               Gallbladder removal  10008611   Y
79503  10081797            Herpetic keratouveitis  10062004   Y
79504  10081798                Muscular back pain  10003988   Y
79505  10081799       Computerized tomogram spine  10081777   Y
79506  10081800                    CNS vasculitis  10081778   Y

[79507 rows x 4 columns]

In [10]:
df.to_csv('llt.tsv', sep="\t", index = False)